<!DOCTYPE html>
<html>
  <head>
    <title>BuzzBid Auction site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- jQuery -->

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}"
    />

    <!-- Animation library for notifications   -->
    <link
      href="{{ url_for('static',filename='assets/css/animate.min.css') }}"
      rel="stylesheet"
    />
    <!--  Paper Dashboard core CSS    -->
    <link
      href="{{ url_for('static',filename='assets/css/paper-dashboard.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static',filename='assets/css/demo.css') }}"
      rel="stylesheet"
    />
    <!--  Fonts and icons     -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static',filename='assets/css/themify-icons.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <style>
      .rating-box {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
      }

      .individual-rating {
        margin-bottom: 10px;
      }

      .individual-rating strong {
        color: #333;
        font-weight: bold;
      }
    </style>
  </head>
</html>
