<link rel="icon" type="image/png" href="/static/assets/img/buzzid.png">
</head>
<body class="">
<div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url_for('dashboard') }}" class="navbar-brand">BUZZBID</a>
        </div>
     </div>
    </div>
	
	<div class="container" style="min-height:500px;">
	