{% include 'header.html' %}

<body>
	{% include 'top_menus.html' %}
	<div class="container">
		{% include 'left_menus.html' %}
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-10">
								<h3 class="panel-title h3"><i class="ti-briefcase"></i>User Report</h3>
							</div>
						</div>
					</div>
					<br><br>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Username</th>
								<th>Listed</th>
								<th>Sold</th>
								<th>Won</th>
								<th>Rated</th>
								<th>Most Frequent Condition</th>
							</tr>
						</thead>
						<tbody>
							{% for userReport in userReports %}
							<tr>
								<td>{{userReport.Username}}</td>
								<td>{{userReport.Listed}}</td>
								<td>{{userReport.Sold}}</td>
								<td>{{userReport.Won}}</td>
								<td>{{userReport.Rated}}</td>
								<td>{{userReport.Most_Frequent_Condition}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<hr>
					<div class="box-footer">
						<button type="button" style="margin-bottom:10px;" class="btn btn-primary checkbox-toggle"
							onclick="location.href='/dashboard'">Done</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>